.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
ApolloCLI/apollo*
schema.json
schema.graphqls
*introspection_response.json
