<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>com.bannzai.hoshihoshii.dev</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>GITHUB_NOTIFICATION_MANAGER_URL_SCHEMA</string>
            </array>
        </dict>
	</array>
</dict>
</plist>
