import Foundation

struct Secret {
#if DEBUG
    public struct Debug {
        public static var accessToken = ""
    }
#endif
    public struct Application {
        public static var callbackURL = "APP_GITHUB_OAUTH_CALLBACK_URL"
    }
}
